
body{
  background-image: linear-gradient(
    to right,
    rgb(135, 180, 157),
    rgb(122, 198, 191),
    rgb(170, 151, 192)
  );
}
h2{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
h1{
  display: flex;
  justify-content: center;
}
h3{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.about-box {
  background-color: #f0f8f5; /* light greenish background */
  border: 2px solid #4caf50; /* green border */
  padding: 20px;
  margin: 30px auto;
  border-radius: 12px;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}


.about-box h2 {
  margin-bottom: 12px;
  color: #389a6e; /* darker green */
}

.Homeview{
  background-image: url('plantdetailspage.jpg');
}
.Plantdetailview {
  background-image: url('plantdetailspage2.jpg');
  background-repeat: no-repeat;
   background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;  
}
.Favoriteview{
   background-image: url('HomepagePlant.jpeg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;  
}
.loginview{
   background-image: url('logingpage.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;  
} 
input{
  display: flexbox;
  justify-content: center;
  margin-left: 44%;
}
  .Registrationlook {
  background-image: url('newregister.jpg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;  

 } 
.AboutView{
  background-image: url('aboutpage.jpg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;  
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #9c9ec6aa);
} 
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} 

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.0em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f0eeee;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
  justify-items: center;
}
button:hover {
  /* allow side the buttom corner to sligthly change to the color of blue. Indicating that the user 
's mouse is over the button */
  border-color: #646cff; 
}



